body {
    font-family: 'Arial', sans-serif;
    background-color: #2a2a2a;
    color: #eaeaea;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #202020;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 5px 15px;  
    background-color: #202020;  
    border: none;  
    color: #eaeaea;  
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.navbar {
    position: absolute;
    top: 40px;  /* Increase this to move the navbar items further down */
    left: 0;  
    width: 300px;
    height: calc(100vh - 60px);  /* Adjusting the height to account for the top offset */
    background-color: rgba(32, 32, 32, 0.75);
    transition: left 0.3s;  
    overflow-y: auto;  /* Add a scrollbar if the content overflows */
}

.navbar ul {
    list-style-type: none;
    padding: 20px;
}

.navbar li {
    padding: 10px;
    background-color: #2a2a2a;
    margin-top: 5px;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #3a3a3a;
}

.sub-category {
    display: none;
}

li:hover .sub-category {
    display: block;
}

.project-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
}

.project {
    height: 200px;
    background-color: #222;  /* Slightly lighter than the page background */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #3a3a3a;  /* Adding a border for visibility */
}

.add-project-btn {
    font-size: 2rem;  /* Increase the font size */
    background-color: #3a3a3a;  /* Dark gray background */
    color: #eaeaea;  /* Light gray color for the + symbol */
    border: none;  /* Remove default border */
    border-radius: 50%;  /* Make it circular */
    width: 50px;  /* Fixed width */
    height: 50px;  /* Fixed height */
    cursor: pointer;  /* Hand cursor on hover */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

.add-project-btn:hover {
    background-color: #4a4a4a;  /* Slightly lighter gray on hover */
}

.header h1 {
    margin-left: auto;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the title and box horizontally */
}

.project-container h2 {
    margin-bottom: 10px;  /* Space between the title and the box */
}

#gift-selector {
    background-image: url('Pics/GiftSelector_CityView.png');  /* Replace with your image path */
    background-size: 1024px 1024px;  /* Cover the entire box with the image */
    background-repeat: no-repeat; /* This ensures the image doesn't repeat */
    background-position: center;  /* Center the image inside the box */
}

